.CustomerProducts-main-div {
  background-color: #eaf1ef;
}

.CustomerProducts-cardContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.CustomerProducts-sub-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  width: 95%;
}

.CustomerProducts-cart-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.CustomerProducts-cart-link {
  height: 80%;
  text-decoration: none;
}

.CustomerProducts-button-cart {
  align-items: center;
  background-color: #036b52;
  border: 0;
  border-radius: 5px 0 0 5px;
  color: white;
  display: flex;
  font-size: 24px;
  height: 100%;
  justify-content: center;
  width: 150px;
}

.CustomerProducts-button-cart:hover {
  background-color: #2fc18c;
  color: black;
}

.CustomerProducts-button-cart:disabled {
  background-color: #036b52;
  color: white;
}

.CustomerProducts-cart-container p {
  align-items: center;
  background-color: #2fc18c;
  border-radius: 0 5px 5px 0;
  color: black;
  display: flex;
  font-size: 24px;
  height: 80%;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  width: 100px;
}

