.CustomerOrders-main-div {
  align-items: center;
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.CustomerOrders-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  width: 70%;
}

.CustomerOrders-thead {
  font-size: 30px;
  margin-top: 1%;
  width: 100%;
}

.CustomerOrders-thead-tr {
  background-color: #b1c2be;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.CustomerOrders-th {
  color: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-tbody {
  width: 100%;
}

.CustomerOrders-tbody-tr {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}

.CustomerOrders-id {
  background-color: #2fc18c;
  border-radius: 5px 0 0 5px;
  color: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-date {
  background-color: #036b52;
  color: white;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-price {
  background-color: #421981;
  border-radius: 0 5px 5px 0;
  color: white;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-tr-link {
  text-decoration: none;
  width: 100%;
}


.CustomerOrders-pending {
  background-color: #ccb800;
  color: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-preparing {
  background-color: #6c0;
  color: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-delivered {
  background-color: #00cc9b;
  color: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.CustomerOrders-tr-link:hover {
  opacity: 0.5;
}
