.LeftSellerHeader-left-container {
  align-items: center;
  background-color: #2fc18c;
  display: flex;
  font-size: 24px;
  height: 100%;
  justify-content: center;
  width: 300px;
}

.LeftSellerHeader-left-container a {
  color: black;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.LeftSellerHeader-left-container p {
  align-items: center;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.LeftSellerHeader-orders-link p:hover {
  background-color: #036b52;
  color: white;
}
