.LeftSellerHeader-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  width: 300px;
  background-color: #2FC18C;
}

.LeftSellerHeader-left-container a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

.LeftSellerHeader-left-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}