.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 26%;
  width: auto;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.containerLogin {
  align-items: center;
  background-color: rgb(218, 226, 223);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.containerError {
  align-items: center;
  background-color: rgb(160, 58, 63);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.containerBtn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
}

