/* .img {
	width: 110px;
	height: 175px;
	display: flex;
	align-items: center;
	z-index: 2;
	margin-top: -60px
}

.price {
	z-index: 1;
	width: 40px;
	height: 30px;
	background-color: rgb(217, 237, 216);
	margin-left: -77%;
	margin-top: 5px;
	text-align: center;
	border-radius: 5px;
}

.name {
	width: 100%;
	text-align: center;
}

.card {
	width: 200px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	background-color: blueviolet;
}

.tableBtn {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 5px;
}

.input {
	width: 50px;
	height: 30px;
	text-align: center;
}

.addRmvBtn {
	width: 30px;
	height: 30px;
	align-items: center;
} */

.ProductCard-img {
	width: 50%;
}

.ProductCard-card {
	border: red solid 1px;
	display: flex;
	flex-direction: column;
	max-height: 540px;
	max-width: 360px;
	margin: 10px;
}

.ProductCard-tableBtn {
	display: flex;
	border: blue solid 1px;
}
