.Register-main-div {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.Register-logo-img {
  width: 25%;
}

.Register-form {
  align-items: center;
  background-color: #eaf1ef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  width: 30%;
}

.Register-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
  width: 50%;
}

.Register-form input {
  width: 100%;
}

.Register-invalid-warning {
  color: red;
  font-size: 18px;
  margin-top: 1%;
}
