.container {
  max-width: 1920px;
}

.table {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  width: 100%;
}

.ordersTable {
  height: 26px;
  text-decoration: none;
  width: 100%;
}

.ordersContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.value {
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.idValue {
  background-color: #2fc18c;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.Pendente {
  background-color: #ccb800;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.Preparando {
  background-color: #6c0;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.Entregue {
  background-color: #00cc9b;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.dateValue {
  background-color: #036b52;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}

.priceValue {
  background-color: #421981;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}

.addrValue {
  background-color: #056cf9;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}
