.SellerOrders-main-div {
  align-items: center;
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.SellerOrders-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  width: 70%;
}

.SellerOrders-thead {
  font-size: 25px;
  margin-top: 1%;
  width: 100%;
}

.SellerOrders-thead-tr {
  background-color: #b1c2be;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.SellerOrders-th {
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-tbody {
  width: 100%;
}

.SellerOrders-tbody-tr {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}

.SellerOrders-id {
  background-color: #2fc18c;
  border-radius: 5px 0 0 5px;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-date {
  background-color: #036b52;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-price {
  background-color: #421981;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-tr-link {
  text-decoration: none;
  width: 100%;
}

.SellerOrders-address {
  background-color: #056cf9;
  border-radius: 0 5px 5px 0;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-pending {
  background-color: #ccb800;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-preparing {
  background-color: #6c0;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-delivered {
  background-color: #00cc9b;
  color: black;
  display: flex;
  justify-content: center;
  width: 20%;
}

.SellerOrders-tr-link:hover {
  opacity: 0.5;
}
